/*wrapper - 클래스 느낌*/
.wrapper{
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

.inverted{
    background: white;
    color: darkred;
    border : 1px solid yellow
}

/*글로벌 css 작성*/
:global .something{
    font-weight: 800;
    color: aqua;
}